* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  color: #333333;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  width: 80% !important;
}